:root {
  font-family: 'Soehne', 'Manrope', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  color: #e5e8f2;
  background-color: #0f1117;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f1117;
}

a {
  color: inherit;
}
